.admins{
    color: white;
    width: 448px;
    margin-left: 34%;
   
    padding-top: 31px;
    padding-bottom: 39px;
    
}
.ad_main{
   
    margin-top: 20%;
    background-color: #567086;
    
}
#footer{
    padding: 30px;
    margin-top: 30px;
    background-color:  #6d8da6;
}
#footer p{
    color: white;
    text-align: center;
}
.upass{
    border: none;
    padding-right:41%;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #567089;
}
input[type="text"]{
   border: none;
color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
   
}
.lgn{
   
    width: 383px;
    border: none;
    padding-right:19%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 29px;
   
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f5a627;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 599;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 78px;
}

form{
    background-color: #394f65;
    margin-top: 30px;
    padding-bottom: 30px;
}
.lbl{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
 padding-left: 25px;
}
.admins p{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 10px;
  padding-top: 40px;
}
.mainnav{
    width: 100%;
    display: flex;
    position: fixed;
   background-color: #6d8da6;
   padding-right: 0px;
}
#product{
    font-size: 1.4rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
#productdiv{
    padding: 15px;
    margin-right: 20px;
    margin-left: 12%; 
}
.nav_top{
    padding: 15px;
    font-weight:500;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: row;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.main{
    background-color: #394f62;
}
.nav{
    padding-left: 100px;
}
.icon{
    margin-left: 23px;
    margin-bottom: 0px;
   font-size: 30px;
   margin-top: 10px;
}
.icon:hover{
    color: white;
}
.nav_top a{
    text-decoration: none;
    color: white;
}
.nav_top a:hover{
    color: #ffff;
}
.nav_top li{
   list-style-type: none;
}
#dashboard{
 
background-color: #f5a627;

}
#dashboard:hover{
    color: #ffff;
}
.nav_top:hover{
    color: #f5a627;
}
.nav_top li:hover{
    color:#f5a627;
}
#login{
    color: #ffff;
    padding: 15px;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 50px;
    margin-right: 100px;
    text-decoration: none;
}
.body{
    background-color: #394f66;
     position: fixed; 
}
 .body_first{
    padding-bottom:90%;
    padding-top: 20px;
    color: #fff !important;
    
}
.body_first p{
    margin-top: 40px;
    margin-left: 14%;
}
select{
    box-sizing: content-box;
    text-indent: 15%;
    line-height: 84px;
    border: none;
    background-color:#6d8da8;
    color: #ffff;
    
}
select li{
    margin: 30%;
}
option{
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 17px;
}

#report option:hover{
color: #f5a627;
}

select:hover{
    color: #f5a627;
}